#!/usr/bin/make -f

DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with autoreconf --builddirectory=build

override_dh_auto_configure: debian/copyright
	dh_auto_configure --builddirectory=build

override_dh_auto_install:
	dh_auto_install --builddirectory=build --destdir=debian/tmp
	find debian/tmp -name '*.la' -delete

debian/copyright: debian/copyright.debian COPYING
	cat $+ > $@

