#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR=debian/tmp

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS=--prefix=/

debian/copyright: debian/copyright.debian COPYING
	cat $+ > $@

clean::
	-rm -f debian/copyright

common-install-prehook-arch common-install-prehook-indep:: debian/copyright

install/libpthread-stubs0::
	if test -f debian/tmp/lib/libpthread-stubs.so.0.0.0; then dh_install -p$(cdbs_curpkg) debian/tmp/lib/libpthread-stubs.so.0.0.0; fi
	if test -L debian/tmp/lib/libpthread-stubs.so.0; then dh_install -p$(cdbs_curpkg) debian/tmp/lib/libpthread-stubs.so.0; fi

install/libpthread-stubs0-dev::
	if test -f debian/tmp/lib/libpthread-stubs.a; then dh_install -p$(cdbs_curpkg) debian/tmp/lib/libpthread-stubs.a usr/lib; ln -s /lib/libpthread-stubs.so.0.0.0 debian/libpthread-stubs0-dev/usr/lib/libpthread-stubs.so; fi
	dh_install -p$(cdbs_curpkg) debian/tmp/lib/pkgconfig/pthread-stubs.pc usr/share/pkgconfig/
